<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="We exists to alleviate poverty scalably and sustainably">
     
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
       
        <title>The Nudge</title>
        <link rel="stylesheet" href="/stylesheets/materialize.css">
    
        <!--Plugins-->
        <link rel="stylesheet" href="/stylesheets/font-awesome.css">
        <link rel="stylesheet" href="/stylesheets/animate.css">
        <!--/Plugins-->
        
        <link rel="stylesheet" href="/stylesheets/styless.css">

 <style>

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: orange;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: orange;
  color: white;
}
     
    .button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
      .button1 {
  background-color: orange/* Green */;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
    .button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
     li {
  float: right;
}
     ul {
  float: right;
}
        </style>
    </head>
    <body id="home">
        <!--NAVBAR-->
        <nav id="navbar">
            
            <ul>
                <h1><span class="text-primary">The</span>Nudge</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="float: right"><a href="/login">Login</a></li>
                <li style="float: right"><a href="/signup" >Sign Up</a></li>
                            </ul>
        </nav>
        <!--/NAVBAR-->
        <!--HEADER SHOWCASE-->
        <header id="showcase" style="background: #333 url('/assets/poor.webp') no-repeat center center/cover;">
            <div class="showcase-content" style="back">
                <h2 class="l-heading wow fadeInDown"><span class="text-primary">The</span>Nudge</h2>
                <p class="lead wow fadeInDown">we exist to alleviate poverty,
sustainably and scalably</p>
<!--                <a href="#lighting" class="btn">Read More</a>-->

            </div>
            
        </header>
        <!--/HEADER SHOWCASE-->
        <!--SECTION: lighting we do-->
        <section id="trending_destinations" class="py-1 bg-light top">
            <div class="container wow slideInLeft">
                <h1 class="m-heading text-center top" style="font-family:cursive ;font-size: 60px;background-color: burlywood"><i>The Impact</i></h1>
            </div>
        </section>
        <!--SECTION: lighting we do-->
        <section id="Temperature" class="py-1 bg-light top bg-dark p-2">
            <div class="container wow slideInRight">
                <h2 class="m-heading text-center top" style="font-family: cursive"></h2>
                <h3 class="s-head"></h3>
                <div class="image"><img src="/assets/poor_1.jpg" class="image" alt="" width="auto" height="500px">
                </div>
                <div class="content"><br><br><p style="font-family: cursive; font-size: 30px"><i>"The/Nudge Foundation is a collective of some of India’s brightest entrepreneurs, leaders and change-makers, tackling the greatest human development challenge of our times - poverty."</i></p>
          
           
           </div>
           
            </div>
        </section>
        <section id="security" class="py-1 bg-light top p-2">
            <div class="container wow slideInLeft ">
                <h2 class="m-heading text-center top" style="font-family: cursive">The Spirit</h2>
                <h3 class="s-head "></h3>
                <div class="image"><img src="/assets/spirit.webp" class="image" alt="" width="auto" height="500px">
                </div>
                <div class="content"><p style="font-family: cursive; font-size: 30px";style="font-family: cursive"><i>Spirit of The/Nudge is about our beliefs, ways of working, understanding our roles, making decisions and taking action.</i></p>

</div>
                    
            </div>
        </section>
        
        
        
           
    
        <!--SECTION: FOOTER-->
        <footer id="main-footer" class="bg-dark text-center py-1">
            <div class="container wow slideInUp">
                <p>Copyright &copy; 2019 <span class="text-primary">TheNudge</span>, All Rights Reserved.</p>
            </div>
        </footer>
        <!--/SECTION: FOOTER-->
        
        <script src="/js/wow.js"></script>
        <script>
            new WOW().init();
        </script>
        
    </body>
</html>