<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Signup</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">The Nudge Foundation</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<% if(!currentUser){ %>
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">Sign Up</a></li>
					<% } else { %>
						<li><a href="#">Signed In As <%= currentUser.username %></a></li>
						<li><a href="/logout">Logout</a></li>
						<li><a href="/profile">Account</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<% if(error&&error.length>0){%>
        <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>
        <%}%>
        <% if(success&&success.length>0){%>
        <div class="alert alert-success" role="alert">
            <%=success%>
        </div>
    <%}%>
	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>
		<!-- <div class="form-group">
			<label>Role</label>
			<input type="role" class="form-control" name="role">
		</div>
		<div class="dropdown"> -->
		<div class="form-group">
			<div><label>Role</label></div>
			<select name="role" class="ud">
				<option value="student">Student</option>
				<option value="teacher">Teacher</option>
				<option value="admin">Admin</option>
			</select>
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<!-- <p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p> -->

</div>

</div>
</body>
</html>
