<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Select Slots</h1>
            <div class="row">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Time</th>
                        <th scope="col">Select</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>12:30-1:30</td>
                        <td><button type="button" class="btn btn-warning">Select</button></td>
                      </tr>
                    </tbody>
                </table>                    
            </div>

            <hr>
        </div>
    </div>
</body>
</html>
